@model WebClient.Models.BookDetails


@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h1>New Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.book.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.book.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.book.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BookList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h1>Most popular Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.popular.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.popular.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.popular.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.popular.Votes)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.bookPopular)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Votes)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>